<!-- Modal -->
<div class="modal fade" id="stylesheetModal" tabindex="-1" aria-labelledby="stylesheetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stylesheetModalLabel">Generated Stylesheet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre><code data-theme-editor-code="#themeEditor"></code></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-theme-editor-copy>Copy to Clipboard</button>
      </div>
    </div>
  </div>
</div>