<section id="contentExamples" class="mb-4">
  <h1 class="mb-3">Content</h1>
  <section id="headings" class="mb-4">
    <h2 class="mb-3">Headings</h2>
    <div class="bd-example">
      <h1>h1. Bootstrap heading</h1>
      <h2>h2. Bootstrap heading</h2>
      <h3>h3. Bootstrap heading</h3>
      <h4>h4. Bootstrap heading</h4>
      <h5>h5. Bootstrap heading</h5>
      <h6>h6. Bootstrap heading</h6>
    </div>
  </section>
  <h2 class="mb-3">Links</h2>
  <div class="bd-example">
    <a href="#" class="d-block mb-2">Normal link</a>
  </div>
</section>
<!-- Components Section -->
<section id="components" class="mb-4">
  <h1 class="mb-3">Components</h1>
  <section id="alerts" class="mb-4">
    <h2 class="mb-3">Alerts</h2>
    <div class="bd-example">
      <div class="alert alert-primary mb-2" role="alert">A simple primary alert—check it out!</div>
      <div class="alert alert-secondary mb-2" role="alert">A simple secondary alert—check it out!</div>
      <div class="alert alert-success mb-2" role="alert">A simple success alert—check it out!</div>
      <div class="alert alert-danger mb-2" role="alert">A simple danger alert—check it out!</div>
      <div class="alert alert-warning mb-2" role="alert">A simple warning alert—check it out!</div>
      <div class="alert alert-info mb-2" role="alert">A simple info alert—check it out!</div>
      <div class="alert alert-light mb-2" role="alert">A simple light alert—check it out!</div>
      <div class="alert alert-dark mb-2" role="alert">A simple dark alert—check it out!</div>
    </div>
  </section>
  <section id="buttons" class="mb-4">
    <h2 class="mb-3">Buttons</h2>
    <div class="bd-example">
      <button class="btn btn-primary me-2 mb-2">Primary</button>
      <button class="btn btn-secondary me-2 mb-2">Secondary</button>
      <button class="btn btn-success me-2 mb-2">Success</button>
      <button class="btn btn-danger me-2 mb-2">Danger</button>
      <button class="btn btn-warning me-2 mb-2">Warning</button>
      <button class="btn btn-info me-2 mb-2">Info</button>
      <button class="btn btn-light me-2 mb-2">Light</button>
      <button class="btn btn-dark me-2 mb-2">Dark</button>
    </div>
    <h2 class="mb-3">Outline Buttons</h2>
    <div class="bd-example">
      <button class="btn btn-outline-primary me-2 mb-2">Outline Primary</button>
      <button class="btn btn-outline-secondary me-2 mb-2">Outline Secondary</button>
      <button class="btn btn-outline-success me-2 mb-2">Outline Success</button>
      <button class="btn btn-outline-danger me-2 mb-2">Outline Danger</button>
      <button class="btn btn-outline-warning me-2 mb-2">Outline Warning</button>
      <button class="btn btn-outline-info me-2 mb-2">Outline Info</button>
      <button class="btn btn-outline-light me-2 mb-2">Outline Light</button>
      <button class="btn btn-outline-dark me-2 mb-2">Outline Dark</button>
    </div>
  </section>
  
</section>
<section id="utilities" class="mb-4">
  <h1 class="mb-3">Utilities</h1>
  <h2 id="textUtilities" class="mb-3">Text</h2>
  <div class="bd-example">
    <p class="text-primary">.text-primary</p>
    <p class="text-primary-emphasis">.text-primary-emphasis</p>
    <p class="text-secondary">.text-secondary</p>
    <p class="text-secondary-emphasis">.text-secondary-emphasis</p>
    <p class="text-success">.text-success</p>
    <p class="text-success-emphasis">.text-success-emphasis</p>
    <p class="text-danger">.text-danger</p>
    <p class="text-danger-emphasis">.text-danger-emphasis</p>
    <p class="text-warning bg-dark">.text-warning</p>
    <p class="text-warning-emphasis">.text-warning-emphasis</p>
    <p class="text-info bg-dark">.text-info</p>
    <p class="text-info-emphasis">.text-info-emphasis</p>
    <p class="text-light bg-dark">.text-light</p>
    <p class="text-light-emphasis">.text-light-emphasis</p>
    <p class="text-dark bg-white">.text-dark</p>
    <p class="text-dark-emphasis">.text-dark-emphasis</p>
    <p class="text-body">.text-body</p>
    <p class="text-body-emphasis">.text-body-emphasis</p>
    <p class="text-body-secondary">.text-body-secondary</p>
    <p class="text-body-tertiary">.text-body-tertiary</p>
    <p class="text-black bg-white">.text-black</p>
    <p class="text-white bg-dark">.text-white</p>
    <p class="text-black-50 bg-white">.text-black-50</p>
    <p class="text-white-50 bg-dark">.text-white-50</p>
  </div>
  <h2 id="coloredLinks" class="mb-3">Colored Links</h2>
  <div class="bd-example">
    <p><a href="#" class="link-primary">Primary link</a></p>
    <p><a href="#" class="link-secondary">Secondary link</a></p>
    <p><a href="#" class="link-success">Success link</a></p>
    <p><a href="#" class="link-danger">Danger link</a></p>
    <p><a href="#" class="link-warning">Warning link</a></p>
    <p><a href="#" class="link-info">Info link</a></p>
    <p><a href="#" class="link-light">Light link</a></p>
    <p><a href="#" class="link-dark">Dark link</a></p>
    <p><a href="#" class="link-body-emphasis">Emphasis link</a></p>
  </div>
  <h2 id="backgrounds" class="mb-3">Backgrounds</h2>
  <div class="bd-example">
    <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
    <div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis">.bg-primary-subtle</div>
    <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
    <div class="p-3 mb-2 bg-secondary-subtle text-secondary-emphasis">.bg-secondary-subtle</div>
    <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
    <div class="p-3 mb-2 bg-success-subtle text-success-emphasis">.bg-success-subtle</div>
    <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
    <div class="p-3 mb-2 bg-danger-subtle text-danger-emphasis">.bg-danger-subtle</div>
    <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
    <div class="p-3 mb-2 bg-warning-subtle text-warning-emphasis">.bg-warning-subtle</div>
    <div class="p-3 mb-2 bg-info text-dark">.bg-info</div>
    <div class="p-3 mb-2 bg-info-subtle text-info-emphasis">.bg-info-subtle</div>
    <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
    <div class="p-3 mb-2 bg-light-subtle text-light-emphasis">.bg-light-subtle</div>
    <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
    <div class="p-3 mb-2 bg-dark-subtle text-dark-emphasis">.bg-dark-subtle</div>
    <div class="p-3 mb-2 bg-body-secondary">.bg-body-secondary</div>
    <div class="p-3 mb-2 bg-body-tertiary">.bg-body-tertiary</div>
    <div class="p-3 mb-2 bg-body text-body">.bg-body</div>
    <div class="p-3 mb-2 bg-black text-white">.bg-black</div>
    <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
    <div class="p-3 mb-2 bg-transparent text-body">.bg-transparent</div>
  </div>
  <h2 id="colorAndBackground">Color and Background</h2>
  <div class="bd-example">
    <div class="text-bg-primary p-3">Primary with contrasting color</div>
    <div class="text-bg-secondary p-3">Secondary with contrasting color</div>
    <div class="text-bg-success p-3">Success with contrasting color</div>
    <div class="text-bg-danger p-3">Danger with contrasting color</div>
    <div class="text-bg-warning p-3">Warning with contrasting color</div>
    <div class="text-bg-info p-3">Info with contrasting color</div>
    <div class="text-bg-light p-3">Light with contrasting color</div>
    <div class="text-bg-dark p-3">Dark with contrasting color</div>
  </div>
  <h2 id="borders" class="mb-3">Borders</h2>
  <div class="bd-example">
    <div class="bd-example-border-utils">
      <span class="border border-primary"></span>
      <span class="border border-primary-subtle"></span>
      <span class="border border-secondary"></span>
      <span class="border border-secondary-subtle"></span>
      <span class="border border-success"></span>
      <span class="border border-success-subtle"></span>
      <span class="border border-danger"></span>
      <span class="border border-danger-subtle"></span>
      <span class="border border-warning"></span>
      <span class="border border-warning-subtle"></span>
      <span class="border border-info"></span>
      <span class="border border-info-subtle"></span>
      <span class="border border-light"></span>
      <span class="border border-light-subtle"></span>
      <span class="border border-dark"></span>
      <span class="border border-dark-subtle"></span>
      <span class="border border-black"></span>
      <span class="border border-white"></span>
    </div>
  </div>
</section>