<form id="themeEditor" data-theme-editor>
  <div class="accordion" id="accordionForm">

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingGeneral">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGeneral" aria-expanded="true" aria-controls="collapseGeneral">
            General
          </button>
        </h2>
        <div id="collapseGeneral" class="accordion-collapse collapse show" aria-labelledby="headingGeneral" data-bs-parent="#accordionForm">
          <div class="accordion-body">
            <!-- General section content goes here -->
            <div class="mb-3">
              <label class="form-label">Color Scheme</label>
              <div>
                  <div class="form-check-inline">
                      <input id="theme-light" name="selector(body)::attribute(data-bs-theme)" type="radio" class="form-check-input" value="light" checked>
                      <label for="theme-light" class="form-check-label">Light</label>
                  </div>
                  <div class="form-check-inline">
                      <input id="theme-dark" name="selector(body)::attribute(data-bs-theme)" type="radio" class="form-check-input" value="dark">
                      <label for="theme-dark" class="form-check-label">Dark</label>
                  </div>
              </div>
            </div>
            <div hidden data-hidden-if="[data-bs-theme='dark']">
              <div class="mb-3">
                  <label for="body-color-dark" class="form-label">Body Color (Dark)</label>
                  <div class="input-group has-validation">
                  <input type="color" class="form-control form-control-color" data-sync="bs-body-color-dark">
                  <input id="body-color-dark" name="selector([data-bs-theme=dark])::property(--bs-body-color)" type="text" class="form-control" data-sync="bs-body-color-dark" data-type="color">
                  <div class="invalid-feedback" data-sync="bs-body-color-dark" data-type="feedback"></div>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="body-bg-dark" class="form-label">Body Background (Dark)</label>
                  <div class="input-group has-validation">
                      <input type="color" class="form-control form-control-color" data-sync="bs-body-bg-dark">
                      <input id="body-bg-dark" name="selector([data-bs-theme=dark])::property(--bs-body-bg)" type="text" class="form-control" data-sync="bs-body-bg-dark" data-type="color">
                      <div class="invalid-feedback" data-sync="bs-body-bg-dark" data-type="feedback"></div>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="secondary-bg-dark" class="form-label">Secondary Background (Dark)</label>
                  <div class="input-group has-validation">
                      <input type="color" class="form-control form-control-color" data-sync="bs-secondary-bg-dark">
                      <input id="secondary-bg-dark" name="selector([data-bs-theme=dark])::property(--bs-secondary-bg)" type="text" class="form-control" data-sync="bs-secondary-bg-dark" data-type="color">
                      <div class="invalid-feedback" data-sync="bs-secondary-bg-dark" data-type="feedback"></div>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="tertiary-bg-dark" class="form-label">Tertiary Background (Dark)</label>
                  <div class="input-group has-validation">
                      <input type="color" class="form-control form-control-color" data-sync="bs-tertiary-bg-dark">
                      <input id="tertiary-bg-dark" name="selector([data-bs-theme=dark])::property(--bs-tertiary-bg)" type="text" class="form-control" data-sync="bs-tertiary-bg-dark" data-type="color">
                      <div class="invalid-feedback" data-sync="bs-tertiary-bg-dark" data-type="feedback"></div>
                  </div>
              </div>
          </div>
          <div hidden data-hidden-if="[data-bs-theme='light']">
              <div class="mb-3">
                  <label for="body-color" class="form-label">Body Color</label>
                  <div class="input-group has-validation">
                      <input type="color" class="form-control form-control-color" data-sync="bs-body-color">
                      <input id="body-color" name="selector(:root, [data-bs-theme=light])::property(--bs-body-color)" type="text" class="form-control" data-sync="bs-body-color" data-type="color">
                      <div class="invalid-feedback" data-sync="bs-body-color" data-type="feedback"></div>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="body-bg" class="form-label">Body Background</label>
                  <div class="input-group has-validation">
                      <input type="color" class="form-control form-control-color" data-sync="bs-body-bg">
                      <input id="body-bg" name="selector(:root, [data-bs-theme=light])::property(--bs-body-bg)" type="text" class="form-control" data-sync="bs-body-bg" data-type="color">
                      <div class="invalid-feedback" data-sync="bs-body-bg" data-type="feedback"></div>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="secondary-bg" class="form-label">Secondary Background</label>
                  <div class="input-group has-validation">
                      <input type="color" class="form-control form-control-color" data-sync="bs-secondary-bg">
                      <input id="secondary-bg" name="selector(:root, [data-bs-theme=light])::property(--bs-secondary-bg)" type="text" class="form-control" data-sync="bs-secondary-bg" data-type="color">
                      <div class="invalid-feedback" data-sync="bs-secondary-bg" data-type="feedback"></div>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="tertiary-bg" class="form-label">Tertiary Background</label>
                  <div class="input-group has-validation">
                      <input type="color" class="form-control form-control-color" data-sync="bs-tertiary-bg">
                      <input id="tertiary-bg" name="selector(:root, [data-bs-theme=light])::property(--bs-tertiary-bg)" type="text" class="form-control" data-sync="bs-tertiary-bg" data-type="color">
                      <div class="invalid-feedback" data-sync="bs-tertiary-bg" data-type="feedback"></div>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThemeColors">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThemeColors" aria-expanded="false" aria-controls="collapseThemeColors">
            Theme Colors
          </button>
        </h2>
        <div id="collapseThemeColors" class="accordion-collapse collapse" aria-labelledby="headingThemeColors" data-bs-parent="#accordionForm">
          <div class="accordion-body">
            <!-- Theme Colors section content goes here -->
            <div class="mb-3">
              <label for="primary-color" class="form-label">Primary</label>
              <div class="input-group has-validation">
                  <input type="color" class="form-control form-control-color" data-sync="bs-primary">
                  <input id="primary-color" name="selector(:root, [data-bs-theme=light])::property(--bs-primary)" type="text" class="form-control" data-sync="bs-primary" data-type="color">
                  <div class="invalid-feedback" data-sync="bs-primary" data-type="feedback"></div>
              </div>
          </div>
          <div class="mb-3">
              <label for="secondary-color" class="form-label">Secondary</label>
              <div class="input-group has-validation">
                  <input type="color" class="form-control form-control-color"  data-sync="bs-secondary">
                  <input id="secondary-color" name="selector(:root, [data-bs-theme=light])::property(--bs-secondary)" type="text" class="form-control" data-sync="bs-secondary" data-type="color">
                  <div class="invalid-feedback" data-sync="bs-secondary" data-type="feedback"></div>
              </div>
          </div>
          <div class="mb-3">
              <label for="success-color" class="form-label">Success</label>
              <div class="input-group has-validation">
                  <input type="color" class="form-control form-control-color"  data-sync="bs-success">
                  <input id="success-color" name="selector(:root, [data-bs-theme=light])::property(--bs-success)" type="text" class="form-control" data-sync="bs-success" data-type="color">
                  <div class="invalid-feedback" data-sync="bs-success" data-type="feedback"></div>
              </div>
          </div>
          <div class="mb-3">
              <label for="info-color" class="form-label">Info</label>
              <div class="input-group has-validation">
                  <input type="color" class="form-control form-control-color"  data-sync="bs-info">
                  <input id="info-color" name="selector(:root, [data-bs-theme=light])::property(--bs-info)" type="text" class="form-control" data-sync="bs-info" data-type="color">
                  <div class="invalid-feedback" data-sync="bs-info" data-type="feedback"></div>
              </div>
          </div>
          <div class="mb-3">
              <label for="warning-color" class="form-label">Warning</label>
              <div class="input-group has-validation">
                  <input type="color" class="form-control form-control-color"  data-sync="bs-warning">
                  <input id="warning-color" name="selector(:root, [data-bs-theme=light])::property(--bs-warning)" type="text" class="form-control" data-sync="bs-warning" data-type="color">
                  <div class="invalid-feedback" data-sync="bs-warning" data-type="feedback"></div>
              </div>
          </div>
          <div class="mb-3">
              <label for="danger-color" class="form-label">Danger</label>
              <div class="input-group has-validation">
                  <input type="color" class="form-control form-control-color"  data-sync="bs-danger">
                  <input id="danger-color" name="selector(:root, [data-bs-theme=light])::property(--bs-danger)" type="text" class="form-control" data-sync="bs-danger" data-type="color">
                  <div class="invalid-feedback" data-sync="bs-danger" data-type="feedback"></div>
              </div>
          </div>
          <div class="mb-3">
              <label for="light-color" class="form-label">Light</label>
              <div class="input-group has-validation">
                  <input type="color" class="form-control form-control-color" data-sync="bs-light">
                  <input id="light-color" name="selector(:root, [data-bs-theme=light])::property(--bs-light)" type="text" class="form-control" data-sync="bs-light" data-type="color">
                  <div class="invalid-feedback" data-sync="bs-light" data-type="feedback"></div>
              </div>
          </div>
          <div class="mb-3">
              <label for="dark-color" class="form-label">Dark</label>
              <div class="input-group has-validation">
                  <input type="color" class="form-control form-control-color" data-sync="bs-dark">
                  <input id="dark-color" name="selector(:root, [data-bs-theme=light])::property(--bs-dark)" type="text" class="form-control" data-sync="bs-dark" data-type="color">
                  <div class="invalid-feedback" data-sync="bs-dark" data-type="feedback"></div>
              </div>
          </div>
          </div>
        </div>
      </div>
    
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTypography">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTypography" aria-expanded="false" aria-controls="collapseTypography">
            Typography
          </button>
        </h2>
        <div id="collapseTypography" class="accordion-collapse collapse" aria-labelledby="headingTypography" data-bs-parent="#accordionForm">
          <div class="accordion-body">
            <!-- Typography section content goes here -->
            <div class="mb-3">
              <label for="font-family" class="form-label">Font Family</label>
              <div class="font-selector" data-type="font">
                  <input
                    id="font-family"
                    name="selector(:root, [data-bs-theme='light'])::property(--bs-font-sans-serif)"
                    type="text"
                    class="form-control"
                    placeholder="Select a font"
                    data-type="font"
                    data-dropdown-class="dropdown-menu"
                    data-dropdown-item-class="dropdown-item"
                  />
                  <div data-font-dropdown class="font-dropdown dropdown-menu w-100">
                      <!-- Dropdown items will be injected here by fontInput.mjs -->
                  </div>
              </div>
          </div>
          <div class="mb-3">
              <label for="font-size" class="form-label">Body Font Size</label>
              <div class="input-group has-validation">
                  <input type="number" class="form-control" data-sync="bs-body-font-size" />
                  <input id="font-size" class="form-control" type="hidden" name="selector(:root, [data-bs-theme='light'])::property(--bs-body-font-size)" data-type="value" value="16px" data-sync="bs-body-font-size" data-step="1px" data-min="12px" data-max="20px" required>
                  <select class="form-control" data-sync="bs-body-font-size">
                      <option value="px">px</option>
                      <option value="em">em</option>
                      <option value="rem">rem</option>
                  </select>
                  <div class="invalid-feedback" data-sync="bs-body-font-size" data-type="feedback"></div>
              </div>
          </div>
          <div class="mb-3">
              <label for="font-weight" class="form-label">Body Font Weight</label>
              <div class="input-group has-validation">
                  <input type="range" class="form-range" data-sync="bs-body-font-weight" />
                  <input id="font-weight" class="form-control" type="hidden" name="selector(:root, [data-bs-theme='light'])::property(--bs-body-font-weight)" data-type="value" data-sync="bs-body-font-weight" data-step="100" data-min="100" data-max="900" required>
                  <div class="invalid-feedback" data-sync="bs-body-font-weight" data-type="feedback"></div>
              </div>
          </div>
          <div class="mb-3">
              <label for="body-line-height" class="form-label">Body Line Height</label>
              <div class="input-group has-validation">
                  <input type="number" class="form-control" data-sync="bs-body-line-height" />
                  <input id="body-line-height" class="form-control" type="hidden" name="selector(:root, [data-bs-theme='light'])::property(--bs-body-line-height)" data-type="value" value="16px" data-sync="bs-body-line-height" data-step="0.125" data-min="1.45" data-max="1.55" required>
                  <div class="invalid-feedback" data-sync="bs-body-line-height" data-type="feedback"></div>
              </div>
          </div>
          </div>
        </div>
      </div>
    
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingBorders">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBorders" aria-expanded="false" aria-controls="collapseBorders">
            Borders
          </button>
        </h2>
        <div id="collapseBorders" class="accordion-collapse collapse" aria-labelledby="headingBorders" data-bs-parent="#accordionForm">
          <div class="accordion-body">
            <!-- Borders section content goes here -->
            <div hidden data-hidden-if="[data-bs-theme='dark']">
              <div class="mb-3">
                  <label for="border-color-dark" class="form-label">Border Color (Dark)</label>
                  <div class="input-group has-validation">
                      <input type="color" class="form-control form-control-color" data-sync="bs-border-color-dark">
                      <input id="border-color-dark" name="selector([data-bs-theme=dark])::property(--bs-border-color)" type="text" class="form-control" data-sync="bs-border-color-dark" data-type="color">
                      <div class="invalid-feedback" data-sync="bs-border-color-dark" data-type="feedback"></div>
                  </div>
              </div>
          </div>
    
          <div hidden data-hidden-if="[data-bs-theme='light']">
              <div class="mb-3">
                  <label for="border-color" class="form-label">Border Color</label>
                  <div class="input-group has-validation">
                      <input type="color" class="form-control form-control-color" data-sync="bs-border-color">
                      <input id="border-color" name="selector(:root, [data-bs-theme=light])::property(--bs-border-color)" type="text" class="form-control" data-sync="bs-border-color" data-type="color">
                      <div class="invalid-feedback" data-sync="bs-border-color" data-type="feedback"></div>
                  </div>
              </div>
          </div>
          <div class="mb-3">
              <label for="border-width" class="form-label">Border Width</label>
              <div class="input-group has-validation">
                  <input type="number" class="form-control" data-sync="bs-border-width" />
                  <input id="border-width" class="form-control" type="hidden" name="selector(:root, [data-bs-theme='light'])::property(--bs-border-width)" data-type="value" value="1px" data-sync="bs-border-width" data-step="0.25px" data-min="1px" data-max="4px" required>
                  <select class="form-control" data-sync="bs-border-width">
                      <option value="px">px</option>
                      <option value="rem">rem</option>
                  </select>
                  <div class="invalid-feedback" data-sync="bs-border-width" data-type="feedback"></div>
              </div>
          </div>
          <div class="mb-3">
              <label for="border-radius" class="form-label">Border Radius</label>
              <div class="input-group has-validation">
                  <input type="number" class="form-control" data-sync="bs-border-radius" />
                  <input id="border-radius" class="form-control" type="hidden" name="selector(:root, [data-bs-theme='light'])::property(--bs-border-radius)" data-type="value" value="1px" data-sync="bs-border-radius" data-step="0.25px" data-min="0px" data-max="8px" required>
                  <select class="form-control" data-sync="bs-border-radius">
                      <option value="px">px</option>
                      <option value="rem">rem</option>
                  </select>
                  <div class="invalid-feedback" data-sync="bs-border-radius" data-type="feedback"></div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>

  <button data-bs-toggle="modal" data-bs-target="#stylesheetModal" type="button" class="btn btn-primary mt-3" id="show-stylesheet-btn">Code</button>
</form>