<strong class="d-none d-md-block h6 my-2 ms-3">On this page</strong>
<hr class="d-none d-md-block my-2 ms-3">
<nav id="pagenav">
  <ul>
    <li>
      <a href="#contentExamples">Content</a>
      <ul>
        <li><a href="#headings">Headings</a></li>
        <li><a href="#links">Links</a></li>
      </ul>
    </li>
    <li>
      <a href="#components">Components</a>
      <ul>
        <li><a href="#alerts">Alerts</a></li>
        <li><a href="#buttons">Buttons</a></li>
      </ul>
    </li>
    <li>
      <a href="#utilities">Utilities</a>
      <ul>
        <li><a href="#textUtilities">Text</a></li>
        <li><a href="#coloredLinks">Colored Links</a></li>
        <li><a href="#backgrounds">Backgrounds</a></li>
        <li><a href="#borders">Borders</a></li>
      </ul>
    </li>
  </ul>
</nav>